:root {
	--mainColor: #d30a0a;
	--mainColorLight: grey;
	--secondaryColor: #56040a;
}

section{
    padding: 2rem 9%;
    background-color: white;
    text-align: center;
    text-transform: none; 
    margin-bottom: 150px;
}


section h3{
    font-size: 5rem;
    line-height: 1.8;
    color:var(--mainColorLight);
    text-transform: none;
    padding-bottom:  20px;
}

.inscription_form{
    text-align: center;
}
.inscription_form p{
    margin-top: 10px;
    color: red;
    font-size: 1.2rem;
}

.inscription_form input#pseudo, input#mail, input#mail2, input#mdp, input#mdp2{
    height:40px;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 50px;
    text-indent: 10px;
}

input#remembercheckbox{
    height:17px;
    width: 60px;
    margin : 0px;
    padding: 0px;
}

label{
    color: white;
    font-size : 1.5rem;
}

.inscription{
    color: white;
    font-size : 1.5rem;
}

.inscription:hover{
    color: var(--main-color);
    font-size : 1.9rem;

}

p .valid, .valid2{
    color: green;
    font-size : 1.5rem;
}

p .valid2{
    text-decoration: underline;
}

@media only screen and (max-width: 1024px ){

    html section{
        font-size: 20%;
    }
}